         
.card-close-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: var(--primary, #0f763f);
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 10;
}

/* default desktop */
.desktop-close {
  display: block;
  font-size: 18px;
  line-height: 1;
}

.mobile-back {
  display: none;
}

/* mobile */
@media (max-width: 576px) {
  .card-close-btn {
    width: 32px;
    height: 32px;
    background: transparent;
    box-shadow: none;
  }

  .desktop-close {
    display: none;
  }

  .mobile-back {
    display: block;
    font-size: 22px;
    line-height: 1;
    color: var(--primary, #0f763f) !important;
  }
}

.mobile-back i {
  font-size: 24  px;
  font-weight: 900;
  color: #0f763f;
}